# CS 617 - Data Mining

## Homework 2 - Problem 3

In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from IPython.display import display, HTML, Math

In [2]:
# Run this cell to load in our dataset. Don't worry about what it's doing.
np.random.seed(25)

salaries_raw = pd.read_csv('data_scientist_salaries-1.csv')
salaries = salaries_raw.get(['YearsCodingProf', 'Age', 'FormalEducation', 'Salary']).dropna()

def extract_years(year_str):
    if isinstance(year_str, float):
        return year_str
    if 'older' in year_str:
        years = 65
    elif 'more' in year_str:
        years = 30
    elif 'Under' in year_str:
        years = 18
    else:
        extracted = re.findall('\d+', year_str)
        try:
            lower, upper = int(extracted[0]), int(extracted[1])
        except:
            print(extracted)
        years = np.random.randint(lower, upper + 1)
    return years + np.round(np.random.normal(0, 1), 2)

salaries['Age'] = salaries['Age'].apply(extract_years)
salaries['YearsExperience'] = salaries['YearsCodingProf'].apply(extract_years)
salaries = salaries[['YearsExperience', 'Age', 'FormalEducation', 'Salary']]
salaries = salaries[(salaries['Salary'] < 500000) & (salaries['Salary'] > 1000) & (salaries['YearsExperience'] > 0)].reset_index(drop=True)
salaries['Salary'] /= 1000

In [3]:
salaries

,YearsExperience,Age,FormalEducation,Salary
0,6.37,28.39,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",120.0
1,0.35,25.78,Some college/university study without earning ...,120.0
2,4.05,31.04,"Bachelor’s degree (BA, BS, B.Eng., etc.)",70.0
3,18.48,38.78,"Bachelor’s degree (BA, BS, B.Eng., etc.)",185.0
4,4.95,33.45,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",125.0
...,...,...,...,...
983,5.07,25.55,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",27.0
984,8.24,30.54,Associate degree,120.0
985,6.46,32.91,"Other doctoral degree (Ph.D, Ed.D., etc.)",149.0
986,16.27,64.55,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",57.0
987,0.56,38.32,"Professional degree (JD, MD, etc.)",50.0

### Design matrix

In this case, we only have one feature – `'YearsExperience'`. Our design matrix would then look something like:

In [4]:
# Don't worry about this code ---
X_as_df = pd.DataFrame()
X_as_df['1'] = np.ones(salaries.shape[0]).astype(int)
X_as_df['YearsExperience'] = salaries['YearsExperience']
X_as_df
# ---

X_as_df

     1  YearsExperience
0    1             6.37
1    1             0.35
2    1             4.05
3    1            18.48
4    1             4.95
..  ..              ...
983  1             5.07
984  1             8.24
985  1             6.46
986  1            16.27
987  1             0.56

[988 rows x 2 columns]

In [5]:
# Converting to a numpy array
X = X_as_df.values
X

array([[ 1.  ,  6.37],
       [ 1.  ,  0.35],
       [ 1.  ,  4.05],
       ...,
       [ 1.  ,  6.46],
       [ 1.  , 16.27],
       [ 1.  ,  0.56]])

This is the design matrix! ^

### Observation vector

In [6]:
y = salaries['Salary']
y

0      120.0
1      120.0
2       70.0
3      185.0
4      125.0
       ...
983     27.0
984    120.0
985    149.0
986     57.0
987     50.0
Name: Salary, Length: 988, dtype: float64

In [7]:
y = y.values
y

array([120.    , 120.    ,  70.    , 185.    , 125.    , 113.    ,
        83.    ,  40.    , 300.    ,  60.    , 130.    ,  60.    ,
       120.    , 102.    ,  80.    , 120.    , 115.    ,  65.    ,
        75.    , 149.    , 100.    , 150.    , 135.    , 115.    ,
       125.    ,   9.8   ,  80.    ,  92.    ,  52.    , 145.    ,
       120.    , 137.    , 200.    , 140.    , 115.    , 180.    ,
       130.    , 145.    ,  72.    , 135.    ,  90.    , 160.    ,
        78.    , 120.    , 152.    , 152.    , 140.    , 100.    ,
       130.    , 100.    , 115.    , 137.    , 100.    , 106.    ,
        80.    , 104.    ,  89.    ,  83.    , 189.    , 158.    ,
       105.    ,  90.    ,  13.3   , 135.    ,  70.    , 155.    ,
       115.    ,  57.6   , 206.    , 130.    , 182.    ,  32.    ,
       116.    , 245.    ,  45.    ,  74.    , 100.    , 220.    ,
       100.    ,  82.    ,  40.    , 150.    , 147.    ,  70.    ,
       103.    ,  90.    ,  80.    ,  61.    ,  80.    , 105.    ,
        80.    ,  95.    ,  93.    ,  75.    ,  50.    , 116.    ,
        55.    , 115.    , 147.    ,  80.    , 200.    ,  54.    ,
        65.    ,  70.    ,  30.    , 100.    ,  79.    ,  74.    ,
        90.    , 110.    ,  90.    , 110.    , 100.    , 145.    ,
        66.    ,  24.    , 150.    ,  45.    , 102.    , 150.    ,
       150.    ,  90.    , 140.    ,  95.    , 110.    ,  70.    ,
        98.    , 122.    , 117.    ,  70.    ,   5.3   ,  74.5   ,
       160.    , 100.    , 125.    , 115.    , 400.    , 122.    ,
        78.3   , 130.    , 200.    , 125.    ,   5.    ,  79.    ,
         6.3   ,  53.    ,  78.    , 132.    ,  88.    , 103.    ,
        70.    , 180.    ,  90.    ,  77.    , 160.    , 118.    ,
       113.    ,   2.    , 140.    ,  58.    ,  68.    ,  90.    ,
       175.    , 111.    , 168.    , 123.    , 160.    , 105.    ,
        90.    ,  10.    ,  85.    , 170.    ,  54.    , 125.    ,
       161.    ,  70.    ,  87.    ,  60.    ,  70.    , 100.    ,
       105.    ,  75.    ,  78.    , 104.    , 112.    , 170.    ,
        65.    , 115.    ,  90.    , 125.    , 155.    , 120.    ,
        87.    ,  90.    ,  85.    , 110.    , 140.    , 110.    ,
       103.    ,  97.5   , 150.    ,  75.5   , 180.    , 120.    ,
       150.    , 195.    , 170.    , 155.    ,  14.326 , 120.    ,
       100.    , 450.    ,  70.064 ,  80.    , 105.    ,  84.    ,
       180.    , 130.    , 110.    ,  84.    , 186.    , 136.    ,
       105.475 , 145.    , 120.    , 150.    ,  75.    , 135.    ,
        70.    , 150.    , 100.    ,  85.    , 305.    ,  96.    ,
       125.    ,  19.    , 162.    , 146.    , 100.    ,  80.    ,
        94.5   , 240.    ,  61.    ,  81.    , 194.    , 105.    ,
        72.    , 150.    , 130.    ,  90.    ,  75.    , 105.    ,
       154.    ,  17.5   , 205.    ,   4.1   ,  75.    , 115.    ,
        85.    ,  80.    , 116.    ,  85.    ,  35.    , 195.    ,
       120.524 , 120.    , 100.    , 177.    , 120.    , 135.441 ,
         2.2   ,  80.    ,  92.    ,  70.    , 115.    ,  80.    ,
       135.    , 125.    ,  30.    , 175.    ,  95.    ,  63.    ,
        79.    ,  65.    , 125.    , 280.    ,  90.    ,  81.    ,
       140.    , 110.    , 103.5   ,   2.6   ,  80.    , 120.    ,
       135.    , 160.    , 135.    , 160.    , 167.    , 152.74  ,
       207.    ,  85.    ,  88.    , 120.    ,  80.    ,  81.    ,
       160.    ,  70.    ,  90.    ,  90.    , 225.    ,  70.    ,
        63.    ,  70.    ,  97.    ,  11.    ,  50.    , 115.    ,
        55.    , 127.    ,  85.    , 182.5   , 150.    , 145.    ,
       130.    ,  80.    , 126.    ,  75.    , 120.    , 165.    ,
       100.    , 185.    ,  94.    ,  73.    ,  99.    ,  90.    ,
       195.    ,  85.    ,  30.    , 126.    , 150.    , 140.    ,
       106.    , 149.    , 191.    , 115.    ,  55.    ,   8.    ,
       165.    ,  75.    , 120.    ,  71.    ,  90.    , 180.    ,
        60.    , 149.    ,  90.    , 110.    ,  80.    , 105.    ,
       132.    , 105.    ,  75.    ,  90.    ,  90.    , 113.    ,
       102.    ,  20.    ,  72.    ,  75.    , 105.    , 100.    ,
        75.    ,  96.    ,  92.    , 100.    , 133.    ,  74.5   ,
       450.    ,  12.    , 136.    ,  99.    , 300.    ,  55.    ,
       110.    ,  65.    , 150.    ,  63.    , 100.    , 175.    ,
       106.    , 120.    ,   2.5   ,  90.    ,  60.    , 105.    ,
        81.5   , 160.    , 130.    , 220.    ,  95.    , 133.    ,
        90.    , 120.    , 120.    , 120.    , 175.    ,  80.    ,
       116.    , 220.    ,  95.    ,  50.    , 111.    ,  70.    ,
       160.    ,  65.    , 200.    ,  35.396 ,  40.    ,  80.    ,
       150.    , 225.    ,  90.    ,  75.    , 105.    , 200.    ,
        74.    ,  85.    , 140.    ,  84.    , 135.    ,  91.    ,
        90.    ,   8.    , 102.96  ,  95.    , 130.    ,  90.    ,
        98.    ,  86.    ,  37.    , 160.    ,  80.    ,   3.85  ,
       105.    , 100.    ,  80.    ,  63.    , 130.5   , 125.    ,
       221.    , 100.    , 119.    , 100.    , 102.    ,   1.4   ,
       105.    , 110.    ,   7.5   , 205.    , 240.    , 258.    ,
       190.    , 210.    ,  75.    , 185.    ,  75.    ,  67.    ,
        48.    , 119.    ,  63.    , 145.    , 120.    ,  60.    ,
       102.5   , 182.    , 177.    , 180.    , 130.    , 340.    ,
       190.    ,  70.    , 120.    ,  40.    ,  63.    ,  85.    ,
       113.    ,  75.    , 130.    , 180.    , 350.    , 140.    ,
       145.    , 275.    , 110.    ,  89.5   , 103.    ,  80.    ,
       130.    , 175.    , 150.    ,  90.    , 108.    ,  70.    ,
       180.939 , 170.    , 130.    , 155.    ,  63.    ,  66.    ,
        42.    ,  60.    , 110.    , 145.    ,  65.    ,  90.    ,
       160.    , 150.    ,  53.6   , 118.    ,  55.    , 130.    ,
       200.    ,  64.    , 135.    ,  47.5   , 145.    , 112.    ,
       150.    , 110.    , 250.    ,  85.    ,  94.    ,  79.0325,
       177.    ,  99.    , 120.    ,  60.    ,  94.    , 115.    ,
       130.    , 380.    , 175.    , 120.    , 110.    , 165.    ,
       145.    ,  34.    , 125.    , 160.    ,  70.    ,  80.    ,
        75.    , 180.    ,  76.    ,  87.5   , 165.    , 135.    ,
       110.    ,  97.    , 110.    ,  83.    , 140.    , 110.    ,
       100.    ,  87.    ,  47.    ,  64.    ,  52.    , 135.    ,
       120.    , 190.    , 150.    ,  70.    ,  90.    ,  95.    ,
        33.    ,  87.    , 162.    ,  66.    , 185.    , 120.    ,
        28.    ,  78.78  ,  31.    , 129.    , 225.    ,  78.    ,
        80.    ,  86.    ,  95.    , 135.    , 120.    , 115.    ,
        87.    ,  25.    , 140.    ,  97.5   ,  70.001 , 141.    ,
        60.    , 150.    , 110.    , 150.    , 120.    ,  85.    ,
        80.    , 120.    ,  65.    , 115.    , 400.    , 128.    ,
       165.    , 135.    ,  98.    ,  90.    ,  60.    , 250.    ,
       110.    , 137.    ,  74.    ,  59.004 , 140.    ,  92.    ,
       105.    ,  54.    ,   8.    ,  20.    ,  70.    ,  85.    ,
       160.    , 131.    , 150.    , 116.    ,  56.    ,  85.    ,
       150.    ,  90.    , 125.    , 150.    ,  79.    , 105.    ,
       107.    ,  67.    , 120.    , 115.    ,  80.    , 180.    ,
       140.    ,  61.    ,   2.5   , 107.    ,   9.92  ,  93.15  ,
        10.    , 155.    , 100.3   ,  55.    ,  96.    , 220.    ,
        90.    ,  81.    , 200.    , 110.    , 150.    ,  52.    ,
        70.    , 147.    , 103.    , 122.    , 140.    , 120.    ,
       180.    ,  88.    , 114.    , 180.    , 140.5   ,  70.    ,
        55.    ,  80.    , 120.    , 140.    , 160.    ,  95.    ,
       170.    ,  40.    ,  85.    , 100.    , 119.    , 113.    ,
       110.    ,  90.    , 230.    ,  85.    , 120.    , 250.    ,
        66.    , 125.    ,  75.    , 110.    ,  97.    , 358.956 ,
       105.    , 100.    ,  72.    ,  85.    ,  66.    , 120.    ,
        83.    ,  20.    , 250.    ,  85.    , 300.    , 130.    ,
        95.    ,  85.    ,  60.    ,  65.    , 180.    , 136.    ,
       150.    ,  62.    , 200.    ,  96.    ,  75.    ,  77.    ,
       125.    , 105.    , 120.    , 140.    ,   8.48  ,  62.    ,
        38.    , 110.    , 102.    , 135.    ,  91.    ,  80.    ,
       115.    ,  53.    ,  75.    , 150.    ,  92.5   , 175.    ,
       100.    ,  13.    ,  97.    , 135.    , 200.    , 130.    ,
        85.    ,  67.    ,  52.    , 118.    , 150.    , 120.    ,
       155.    ,  40.    ,  70.    ,  70.    , 138.    ,  93.    ,
        80.    ,  90.    , 330.    ,  41.    ,  54.    ,  75.    ,
       105.    , 100.    ,  75.    , 205.    , 100.    , 100.    ,
       105.    , 175.    , 109.5   , 124.8   ,  82.5   ,  55.    ,
       125.    , 160.    ,  51.    ,  80.    ,  76.5   , 100.    ,
        50.    , 236.    , 190.    , 150.    , 135.    , 160.    ,
        82.5   ,  80.    , 165.    , 147.    , 165.    ,  25.    ,
       120.    ,  37.    ,  80.    ,  65.    ,  60.    ,  75.    ,
        56.    ,  96.    ,  25.    ,  75.    ,  57.    , 450.    ,
       110.    , 150.    ,  30.    , 100.    ,  85.    , 130.    ,
       105.    ,  92.    , 135.    , 120.    ,  69.    ,   3.2   ,
       100.    , 140.    , 130.    , 120.    , 165.    , 100.    ,
       250.    , 194.6   ,  80.    , 110.    , 152.    , 180.    ,
       135.    , 100.    , 145.    ,  88.    ,  65.    , 154.    ,
       175.    , 185.    ,  20.    , 210.    ,  80.    , 159.    ,
        30.    , 115.    ,  85.    , 150.    ,  70.    ,  85.    ,
       108.    ,  78.5   ,  34.    , 170.    , 135.    , 103.    ,
       120.    , 137.5   ,  50.    , 200.    , 130.    , 100.    ,
        63.    ,  65.    ,  75.    , 140.    , 106.    , 165.    ,
       107.    ,  68.    , 112.    ,  82.5   , 256.    , 125.    ,
        90.    ,  90.    , 115.    , 110.    ,  60.    ,  74.1   ,
        85.    , 150.    ,  65.    , 130.    , 142.    , 126.    ,
       110.    , 150.    , 100.    , 120.    , 130.    , 120.    ,
        12.    , 130.    , 120.    , 165.    ,  82.    , 165.    ,
        15.    , 160.    , 150.    ,  55.    , 140.    ,  28.    ,
        80.    , 155.    , 240.    ,  45.    , 150.    , 140.    ,
         2.2   , 150.    ,  98.    ,   1.75  ,  56.    , 250.    ,
        25.    ,  37.    ,   2.    , 180.    , 100.    ,  80.    ,
         1.2   ,   7.    , 120.    ,  65.    ,  40.    ,   4.    ,
       170.    ,  60.    ,  29.    ,   3.    , 100.    ,  91.    ,
         6.    ,  50.    ,   7.5   , 150.    ,  12.    ,  11.    ,
       140.    ,  32.4   ,  80.    ,   5.465 , 107.    ,  96.    ,
       180.    , 160.    , 175.    ,  70.    , 250.    ,  20.    ,
        25.    , 135.2   ,  50.    ,  40.    , 200.    ,   3.2   ,
        29.5   ,  82.    ,  36.    ,  55.    ,  45.    ,  75.    ,
        70.    , 200.    ,  40.    ,   1.6   , 140.    , 109.    ,
        50.    ,   5.7   ,  60.    ,  30.    , 100.    ,  10.    ,
        30.    ,  38.    ,  93.    ,  80.    ,   1.05  ,  27.    ,
       120.    , 149.    ,  57.    ,  50.    ])

### Making predictions

For any vector $\vec{w} \in \mathbb{R}^{2}$, we can make predictions using

$$\vec{h} = X \vec{w}$$

Let's test it out!

In [8]:
X @ np.array([80, 3])

array([ 99.11,  81.05,  92.15, 135.44,  94.85, 109.37, 106.25,  98.96,
       116.42,  86.66,  97.97,  87.23, 103.49, 108.71,  82.04, 137.  ,
        81.98,  82.73,  88.79,  91.76,  82.16, 151.52,  90.92, 119.06,
       108.8 , 100.85,  90.11,  89.9 ,  86.75, 103.4 ,  83.42, 138.05,
       141.02, 109.7 , 130.31, 173.96,  88.13, 123.23,  89.09, 105.62,
        88.61, 138.32,  84.11,  99.68, 136.31, 127.22, 104.87, 109.88,
        94.82, 130.97, 129.62,  85.34, 133.82,  89.  ,  88.01,  98.36,
        91.88, 105.8 , 161.75,  94.88, 115.1 , 114.11,  88.64,  88.73,
       117.71, 107.51, 100.1 ,  90.89,  97.37, 120.35, 134.81, 100.22,
        93.47, 113.69,  97.55,  94.97,  94.19, 108.02,  95.63,  93.77,
        95.12, 103.52, 104.75, 110.93, 104.84,  89.  ,  96.98,  82.85,
        93.08, 146.72,  83.21, 131.03, 107.87,  95.78,  96.77,  89.06,
        86.72,  97.31, 172.46,  94.13, 131.  , 103.43,  91.67,  89.51,
        91.16,  95.48, 111.08,  85.67,  98.87,  95.84,  95.66, 109.07,
       105.26, 109.16,  86.3 ,  82.91, 114.26,  88.43,  89.87, 171.23,
       129.44,  94.16, 110.39,  91.52, 102.5 ,  90.98, 103.88, 116.9 ,
       135.14, 105.32, 100.64,  81.86, 140.72,  91.19, 101.81,  89.18,
       102.26, 172.25, 101.15,  85.13, 166.1 , 104.81,  84.47,  97.67,
        96.77, 113.72, 101.81,  99.83,  87.92, 100.97,  84.68, 106.4 ,
        89.63, 102.65, 155.57, 110.96,  89.57,  95.09, 117.74,  89.72,
        87.74,  95.03,  97.04,  88.31, 159.05, 135.08, 152.72,  96.68,
        89.06, 172.16,  90.23, 118.16,  92.81, 149.66, 174.5 ,  87.89,
       135.2 ,  84.17,  87.08, 100.37,  98.57,  84.47, 143.42, 112.79,
       123.44, 102.47,  83.18,  93.71,  81.95,  93.47,  99.47,  80.6 ,
       105.59,  84.98,  98.36,  86.48, 119.33,  93.74, 103.82,  89.42,
       103.4 ,  95.87, 150.95, 111.26, 139.7 ,  95.78, 171.86, 171.8 ,
       135.53, 100.28,  86.9 , 160.46,  91.28, 107.81,  86.39,  85.22,
        95.33, 114.2 , 148.16,  89.48, 170.09,  99.32,  85.1 ,  96.8 ,
        96.86, 110.6 ,  81.32, 101.21,  85.04, 115.88, 114.56,  89.48,
       141.11, 120.17, 129.89,  87.59, 124.01,  89.06,  83.75, 113.78,
        84.92, 109.58, 101.9 ,  81.23, 125.15,  86.51, 101.24, 115.55,
        80.66, 100.88, 136.34,  85.07,  96.11, 103.07, 174.62,  82.64,
        96.65, 153.89, 109.25,  86.72, 114.08,  84.89, 107.96, 116.33,
        98.  , 102.95, 116.51, 144.29, 172.07, 121.73,  82.97,  86.54,
        95.21,  87.23,  90.47,  88.22, 136.34, 131.54,  80.54, 131.78,
       116.48,  88.49,  81.59,  87.5 , 111.92, 132.29,  93.41,  95.66,
        92.33, 127.19,  93.62,  85.91, 131.27,  85.46,  92.39, 134.3 ,
        90.56,  97.85, 112.91, 120.8 ,  95.06, 131.12, 109.19,  85.64,
        94.22, 102.14, 129.02,  91.52, 114.65,  80.57,  91.67, 114.05,
        95.27,  85.25,  80.48, 173.21,  83.06,  86.3 ,  81.62,  81.5 ,
        80.33, 144.47, 129.32, 133.16, 171.98, 141.02, 116.42, 104.9 ,
       109.94, 141.23,  94.88, 117.77, 163.49,  89.3 , 108.29,  83.27,
       138.53,  93.71, 114.59,  92.36, 103.16,  88.34, 102.23, 125.69,
        96.89, 102.74,  81.23,  89.75,  93.2 ,  89.96, 102.59,  87.14,
       172.91, 125.03,  83.93, 114.5 ,  88.67,  91.94,  81.89, 107.3 ,
        87.32,  82.73,  94.04,  91.64, 102.98,  96.86,  92.99,  91.79,
        89.84,  92.51, 116.9 ,  85.97,  96.86, 108.02, 102.89,  99.35,
       113.87,  89.27, 103.16,  91.79, 143.84, 100.49, 103.49, 107.33,
        94.88,  84.71, 101.81,  84.14, 107.6 , 166.13,  99.71,  87.38,
       104.75,  82.85,  93.02,  85.16,  95.99, 139.88, 111.2 , 134.6 ,
        95.93, 106.91,  87.44,  86.42,  97.4 ,  85.49, 136.43,  88.85,
        97.73,  88.4 ,  87.35,  82.22,  92.21,  98.48, 128.  ,  88.88,
       170.6 ,  82.43,  83.99,  94.1 ,  95.96, 116.09,  84.86,  83.06,
        93.86, 114.23,  85.49, 142.04, 138.89, 135.56, 125.6 ,  95.81,
        96.17,  85.25, 104.93, 154.46,  80.87,  93.89,  81.26,  99.23,
        82.58, 126.47,  92.33, 102.92, 104.72,  90.53,  98.39,  88.49,
       133.34,  94.28, 134.03, 110.18, 114.44,  94.58,  91.64,  81.02,
       101.21, 101.87, 115.76, 124.46, 157.79, 134.42, 136.01, 118.58,
        84.68, 106.58,  87.8 ,  88.04,  83.93,  97.76,  91.52, 101.12,
       114.62, 102.35, 101.72, 130.88,  91.88, 152.54, 109.55,  99.17,
       103.61,  89.81,  99.95,  80.93, 110.87, 106.85,  94.19,  92.81,
       122.48, 141.71, 141.95, 118.1 , 129.65, 143.39,  81.38,  97.79,
        84.08, 100.94, 139.73, 122.84,  83.72,  85.22, 126.32,  98.96,
       136.49, 132.26, 134.27, 154.4 ,  96.08,  84.23,  98.48, 110.24,
       105.86, 128.78,  91.31, 105.29, 102.89, 171.38,  81.5 , 100.19,
        87.62, 101.75, 171.71, 132.2 ,  91.58,  87.68, 114.47, 109.67,
       106.46, 165.29, 127.46,  85.76,  94.94,  92.84,  99.35, 122.66,
        93.05,  85.49,  98.9 ,  90.5 , 140.42, 167.93, 132.2 ,  92.84,
       110.42, 104.87,  97.46,  83.33,  86.15, 144.23,  90.32,  82.79,
        82.16,  96.29,  82.82, 112.76, 124.94, 129.68,  87.23, 110.54,
        85.67,  90.68, 109.4 ,  91.25,  94.37,  87.29, 118.67,  89.72,
        97.1 ,  88.13, 116.36,  87.23,  91.7 ,  94.61, 170.69,  87.77,
        98.09,  90.65, 125.21,  86.48,  87.53,  94.55,  88.1 ,  84.89,
        83.9 , 107.48, 109.67,  91.79,  97.16,  98.33,  94.22, 116.63,
       141.86,  93.47,  82.94,  98.18,  84.92,  92.  ,  90.05,  89.  ,
        92.6 , 126.26, 104.51, 129.5 ,  83.9 ,  89.48, 101.33, 100.19,
        95.36, 117.35, 115.7 ,  96.41,  87.77, 137.27,  88.37,  84.77,
        80.54, 116.03,  82.52, 155.93, 115.25, 110.  , 155.45, 133.34,
       103.88, 108.53,  91.25,  96.11, 113.84,  90.11, 100.61,  97.97,
       156.08,  94.07,  90.65,  85.97,  86.63, 124.82,  99.41,  99.95,
        92.78, 107.96,  82.91,  92.33, 171.26, 115.07,  87.26, 165.8 ,
       139.43,  97.1 ,  83.81, 105.26,  96.92,  90.05,  90.14, 102.98,
        84.17,  94.91,  98.6 , 133.49,  84.5 ,  96.65, 172.16,  94.34,
        88.49,  87.98, 124.19,  97.88, 118.4 , 133.28, 100.7 ,  83.66,
       104.96,  91.22,  94.85,  93.65, 166.85, 101.72,  84.53,  90.71,
        80.9 , 108.56, 117.5 ,  95.9 , 150.17,  84.23,  89.69, 100.43,
        82.97, 120.95,  86.54, 165.32,  88.1 ,  93.98, 130.1 , 123.05,
        85.76, 107.75,  85.79, 115.76,  97.88, 130.85,  90.02,  91.46,
       100.76,  81.38, 118.85, 101.6 ,  93.71, 106.07,  91.49, 141.44,
       109.91, 110.03, 106.79, 100.01, 102.47, 103.91, 113.48, 130.31,
       105.95,  87.47, 166.49,  91.19,  85.64,  81.68, 131.66,  98.51,
       116.93, 105.14,  87.68,  99.29,  88.61, 100.37,  87.47, 128.03,
       109.61,  87.47,  90.92,  84.89, 117.17, 103.31,  81.56, 131.99,
       167.42,  91.58,  97.97,  90.56, 168.11, 113.36,  90.77,  81.98,
        85.73, 119.33, 175.01, 107.93,  89.84,  82.4 ,  81.38,  92.03,
       113.33,  98.54, 102.32,  91.49, 130.67,  83.72,  86.66,  94.97,
        90.65,  85.04,  84.44, 106.13, 103.4 , 139.16, 143.39, 104.  ,
        93.92, 110.33,  84.92,  87.05, 107.81,  86.39,  84.08, 103.52,
        88.94, 101.45,  92.33, 141.95, 102.56, 139.82, 101.06,  93.47,
        89.09, 102.32,  91.82, 131.09, 116.51,  91.82,  88.43,  81.11,
        86.42,  81.44,  96.65,  90.74,  85.67,  94.58,  88.97,  96.05,
        83.39, 170.15,  94.43, 171.65,  84.29, 114.14, 104.87, 119.99,
        86.12,  80.39, 105.47, 101.93,  96.71, 170.24,  85.55,  88.7 ,
       169.67, 115.79, 167.75,  98.27, 130.61,  89.84,  84.35,  94.76,
        99.08, 130.46, 114.38,  87.98, 121.28, 133.13,  96.38, 154.52,
       105.47, 135.23, 104.51, 160.04,  83.9 , 114.29,  90.26,  95.75,
        89.69, 138.17,  97.97,  87.2 , 107.54,  99.23, 120.2 , 135.65,
       133.1 ,  80.9 ,  88.1 , 125.33,  93.32, 100.76,  89.57, 117.62,
        92.93, 140.24, 129.14, 105.23,  92.66, 124.61, 130.28,  84.95,
        92.09, 101.51, 129.74, 109.64,  92.51,  96.98, 101.36,  99.32,
        91.58,  92.57, 100.94, 107.21,  93.35,  91.19,  98.93, 103.19,
       116.36,  90.17,  97.16, 114.14, 107.36, 110.87,  91.94, 102.35,
       134.48,  87.68,  90.92, 110.21,  96.5 , 103.97, 170.93, 102.35,
        96.62,  89.27,  89.51, 169.97, 106.01,  86.69, 135.8 , 147.08,
        89.33, 140.9 , 102.05, 106.43,  94.67,  95.24,  98.99,  97.01,
        89.51, 139.46,  98.6 , 101.33,  88.7 , 133.82, 139.13, 103.13,
        90.32, 100.37, 110.51,  83.36,  93.23, 151.31,  90.5 ,  98.21,
        95.93, 130.58,  86.93,  97.91, 169.25, 141.29, 146.03,  95.9 ,
        89.36, 137.03, 143.99, 148.4 , 168.02, 126.11, 142.49,  87.41,
       117.17, 112.94, 134.9 , 102.74,  87.62,  91.4 , 168.02,  90.11,
        89.57,  99.71,  98.27,  87.62,  93.08,  88.55,  89.54, 164.24,
        86.66, 125.96, 134.33, 171.8 , 103.1 ,  83.57,  80.6 ,  80.6 ,
       148.76,  92.9 ,  94.76, 102.26, 123.86,  97.07,  80.75,  95.21,
       104.72,  99.38, 128.81,  81.68])

Our goal is to get the above array as close to `y` as possible.

### Implementing the solution

We claimed that the vector $\vec{w}$ that minimizes

$$R_{sq}(\vec{w}) = \frac{1}{n} || \vec{y} - X \vec{w} ||^2$$

is

$$\vec{w}^* = (X^TX)^{-1}X^T\vec{y}$$

In [9]:
def least_squares(X, y):
    # YOUR IMPLEMENTATION IS HERE
    return np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

In [10]:
w_star = least_squares(X, y)

In [11]:
w_star

array([80.79258094,  3.22297875])

What if I have 10 years of experience – what should I expect my salary to be?

In [12]:
np.array([1, 10]) @ w_star

113.0223684888939

Note that these match the intercept and slope using our manual formulas!

In [13]:
def correlation(x, y):
    # YOUR IMPLEMENTATION IS HERE
    numerator = np.sum((x - np.mean(x)) * (y - np.mean(y)))
    denominator_x = np.sum((x - np.mean(x))**2)
    denominator_y = np.sum((y - np.mean(y))**2)
    correlation_coefficient = numerator / np.sqrt(denominator_x * denominator_y)
    return correlation_coefficient

def slope(x, y):
    # YOUR IMPLEMENTATION IS HERE
    numerator = np.sum((x - np.mean(x)) * (y - np.mean(y)))
    denominator = np.sum((x - np.mean(x))**2)
    slope_value = numerator / denominator
    return slope_value

def intercept(x, y):
    # YOUR IMPLEMENTATION IS HERE
    m = slope(x, y)
    intercept_value = np.mean(y) - m * np.mean(x)
    return intercept_value

In [14]:
intercept(X[:, 1], y)

80.79258094057926

In [15]:
slope(X[:, 1], y)

3.222978754831467

The intercept and slope must be the same in both ways of calculation (either via closed-form formula with pseudo-inverse or formula with correlation)

Now, solve the Linear Regression with Gradient Descent!

In [18]:
def gradient_descent_linear_regression(X, y, alpha=0.01):
    w = np.zeros(X.shape[1])
    n = len(y)
    threshold = 1e-6 
    
    while True:
        y_pred = np.dot(X, w)
#         print(y_pred)
        gradient = -(1/n) * np.dot(X.T, (y - y_pred))
#         print(gradient)
        w -= alpha * gradient
#         print(w)
        
        if np.linalg.norm(alpha * gradient) < threshold:
            break
    
    return w

coefficients = gradient_descent_linear_regression(X, y)
intercept = coefficients[0]
slopes = coefficients[1]
print(intercept)
print(slopes)

80.79234696555814
3.2229941864546667

Now, solve the Linear Regression with built-in libary sklearn. Check https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html

In [17]:
# YOUR IMPLEMENTATION IS HERE
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X, y)

# Get the coefficients
intercept = reg.intercept_
coefficients = reg.coef_

print(intercept)
print(coefficients[-1])

80.79258094057927
3.2229787548314657